body { 
    font-family: 'Noto Serif JP', serif;
    background-color: black;
    color: white;
    margin: 0px;
}

/* This code is to create 
the styles in the header */

header {
    height: 60px;
}

#menu {
    width: 35px;
    height: 30px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
    
}

#menu-bar  {
    z-index: 2;
    
}

.line {
    height: 5px;
    width: 100%;
    background-color: #e4d053;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}

#line1 {
    transform: translateY(-4px);
}

#line3 {
    transform: translateY(4px);
}

.change .line {
    background-color: white;
}

.change #line1{
    transform: translateY(4px) rotateZ(45deg);
}


.change #line2{
    opacity: 0;
}

.change #line3{
    transform: translateY(-6px) rotateZ(-45deg);
}


.menu-bg, #menu-bar {
    top: 0;
    left: 0;
    position: absolute;
}

.menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    background: radial-gradient(circle, #e4d053, #4b4b4d);
    border-radius: 50%;
    transition: 0.3s ease;
    

}

.change-bg {
    width: 550px;
    height: 540px;
    transform: translate(-60%, -30%); 
    
}

.nav-li {
    padding: 0px;
    margin: 0 20px;
    transition: 0.3s ease;
    display: none;
}

.nav-li a {
    color: white;
    text-decoration: none;
}

.nav-li a:hover{
    font-weight: bold;
}

.nav-li li {
    list-style: none;
    padding: 16px 0;
}

.change {
    display: block;
}

.header-text {
    text-align: center;
    margin-bottom: 45px;
    margin-top: -15px;
    font-size: 20px;
    font-weight: 1000px;
    
}

/* This code is for the main sec 
and 
specificaly for the carousel */

#main-sec {
    
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 60px;
    padding-bottom: 55px;
    background-color: #ffffff;
    height: 90vh;
    width: 100%;
    background-image: url(https://i.postimg.cc/44V1366z/japon-bg.jpg);
    background-position-x: center;
    background-size: contain;
}

.carousel {
    position: relative;
    height: 80%;
    width: 65%;
    margin: 0 auto;

}

.carousel_image {
    width: 100%;
    height: 100%;
    opacity: 1;    
}

.carousel_track-container {
    background: none;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 2%;
    z-index: 1;

}

.carousel_track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 150ms ease-in-out;
    
}

.carousel_slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel_slide.current-slide {
    width: 100%;
}

.carousel_button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.carousel_button--left {
    left: -50px;
    transform: scaleX(-1);
    
}

.carousel_button--right {
    right: -50px;
    
}
.carousel_button img {
    width: 30px;
    height: 30px;
}

.carousel_button img:hover {
    width: 40px;
    height: 40px;
}


.carousel_nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.carousel_indicator {
    border: 1 transparent #ffc18e;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #e4d053;
    margin: 0 12px;
    cursor: pointer;
     
}

.carousel_indicator.current-slide {
    background-color: black;
}

.is-hidden {
    display: none;
}

/* Here the code for another section of the main sec  to add text and Contact button*/

.main-sec_text-container {
    font-size: 1.25rem;
    color: white;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    left: 43%;
    z-index: 2;
    width: 15%;
}

.main-sec_text-container h2 {
    text-shadow: 0.5px 0.5px #000;
    
    
}

.main-sec_text-container h3 {
    text-shadow: 0.7px 1px #000;
    
}

.main-sec_wpp-icon {
    width: 10%;
    position: absolute;
    z-index: 2;
    top: 75%;
    left: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-sec_wpp-icon a {
    text-align: center;
    width: 50px;
    height: 50px;
}

.main-sec_wpp-icon img {
    width: 50px;
    height: 50px;
    text-align: center;
}

.main-sec_wpp-icon p {
    margin-top: 5px;
    font-size: 1.2rem;
    text-align: center;
    text-shadow: 0.7px 1px #000;
}